.auth-form {
    width: 25rem;
    max-width: 80%;
    margin: 5rem auto;
  }

  #maindiv{
    background-color: steelblue;
}
#flex-container{
    display: flex;
}

#jumbo{

    background: url(https://images.pexels.com/photos/346885/pexels-photo-346885.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 900px;
    margin-bottom: 0% !important;
    
  
 
}

#button{
    background-color: coral;
    color: black;
    font-size: 13px;
}

#signin{
text-align: center;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: #47476b;
font-weight: bolder;
position: relative;
left: 75px;
top: 20px;

}

#img{
    position: relative;
    bottom: 195px;
    right: 50px;
   
}
#img1{
    height: 300px;

}
#img2{
    height: 300px;
  
}
#img3{
    height: 300px;
   
}

#img-1{
    height:600px;
    width: 100%;
}
#img-2{
    height:600px;
    width: 100%;
}
#img-3{
    height:600px;
    width: 100%;
}

.flex-container{
    display: flex;
    

} 
#info{
width: 350px;


}

.about{
    margin-right: 100px;
}
.contact{
    margin-right: 80px;
}

h6{
font-size: 12px;
color: steelblue;
margin-left: 40px;

}
#info2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
  font-size: 15px;
  text-align: left;
 
}

h8{
    color: beige;
   position: relative;
   left: 175px;
   font-size: 60px;
   font-family: Florence, cursive;
   font-style: oblique;
   top: 100px;
}

#info1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-align: center;
font-weight: bold;
font-size: 30px;
text-shadow: 2px 2px steelblue;

}
 

#card1{
    



font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-align: center;
font-weight: bolder;


}

#card{
   
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-align: center;
font-weight: bolder;


}


.main-content {
    margin: 0rem 0rem !important;
}
h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bolder;
    position: relative;
    bottom: 250px;
    font-size: 100px;
}

h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bolder;
    position: relative;
    bottom: 250px;
    font-size: 65px;

}



h4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bolder;
    position: relative;
    bottom: 250px;
    font-size: 85px;
}

#footer{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-align: center;
font-weight: bolder;
background-color: coral;
color: white;
}